[Desktop Entry]
Version=1.0
Type=Application
Exec=/home/arega/Documentos/Nativefier/ProsperousUniverse-linux-x64/ProsperousUniverse
Name=Prosperous Universe
